body{ margin: 0;}

.bussines-comercial{ 
    max-width: 780px; 
    margin: auto;
}

.bussines-comercial .pagina2{
display: grid;
}

    .bussines-comercial .titulopg2{ 
        grid-column: 1/3;
        margin-left: 10%;
    }
    .bussines-comercial .bodypg2{
        grid-column: 1/2;
        margin-left: 5%;
        text-align: justify;
    }
    .bussines-comercial .imgpg2{
        width: 100%;
        margin-top: -24%;
    }
    .bussines-comercial .suelopg2{
        grid-column: 1/3;
        text-align: center;
    }

.bussines-comercial .pagina4{
    display: grid;
}
    .bussines-comercial .titulopg4{
        grid-column: 1/3;
        margin-left: 10%;
    }
    .bussines-comercial .imgpg4{
        grid-column: 1/2;
        width: 90%;
        margin-left: 5%;
    }         
    .bussines-comercial .bodypg4{
        text-align: justify;
        margin-right: 4%;
    }     
    .bussines-comercial .bodypg4 h3{
        margin-bottom: -1%;
    }
    .bussines-comercial .bodypg4 p{
        margin-bottom: 8%;
    }

.bussines-comercial .pagina6{
    display: grid;
}
    .bussines-comercial .titulopg6{
        grid-column: 1/3;
        margin-left: 10%;
    }
    .bussines-comercial .bodypg6{
        grid-column: 1/3;
        text-align: justify;
        margin-right: 5%;
        margin-left: 3%;
    }

    .bussines-comercial .pagina6 h4{
        margin-bottom: 2%;
    }
    .bussines-comercial .pagina6 p{
        margin-bottom: 2%;
    }

    .bussines-comercial .titulopg7{
        margin-left: 10%;
    }

    .bussines-comercial .pagina7{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 3%;
    }
    .bussines-comercial>.pagina7>div>img{width: 75%;}
    
    .bussines-comercial .pagina7 .uno {
        grid-column:1/2;
    }

    .bussines-comercial .pagina7 .dos{
        grid-column:2/4;
    }

    .bussines-comercial .pagina7 .tres{ 
        grid-column-start:4/5;
    }

    .bussines-comercial .pagina7 .cuatro{
        grid-column:5/6;
        grid-row:1/3;
    }

    .bussines-comercial .pagina7 .cinco{
        grid-row:2/4;
        width: 125%;
    }
    .bussines-comercial .pagina7 .seis{
        padding-top: 20%;
        width: 120%;
        padding-left: 2%;
    }

    .bussines-comercial .pagina7 .ocho{
         grid-column:2/4;
    }

    .bussines-comercial .pagina7 .nueve{
        grid-column:1/3;
        padding-top: 11%;
    }

    .bussines-comercial .pagina7 .diez{
        grid-column:4/6;
    }

    .bussines-comercial .pagina7 .once{
        grid-column:1/4;
        padding-top: 2%;
    }
    .bussines-comercial .pagina7 .trece{
        padding-bottom: 7%;
    }
    .bussines-comercial .pagina7 .catorce{
        grid-column: 5/6;
        grid-row: 2;
        padding-top: 30%;
    }

    .bussines-comercial .pagina7 .quince{
        grid-column: 4/6;
        padding-top:8%;
    }

    .bussines-comercial .pagina7 .dieciseis{
        grid-column:4/6;
        padding-bottom: 6%;
    }

    .bussines-comercial .pagina7 .textpg7{
        grid-column:2/5;
        grid-row: 6;
        font-size: 70%; 
        background-color:#F1C40F;
        text-align: center;
        color: aliceblue;   
        border-radius: 20px;
    }

    @media screen and (max-width:780px){
        
    .bussines-comercial{
            padding: 5%;
            font-size: 110%; 
    }

        .bussines-comercial .pagina2{
            display: grid; 
        }
            
            .bussines-comercial .titulopg2{ 
                grid-column-start: 1;
                grid-column-end:1; 
                text-align: center;
                margin-left: 0%;
            }
            .bussines-comercial .bodypg2{
                grid-column-start: 1;
                grid-column-end: 1;
                text-align: justify;
                margin-left: 0%;
            }
            .bussines-comercial .imgpg2{
                width: 100%;
                margin-top: 0%;
            }
            .bussines-comercial .suelopg2{
                grid-column-start: 1;
                grid-column-end: 1;
                text-align: center;
            }
    

        .bussines-comercial .pagina4{
            display: grid;
        }
            .bussines-comercial .titulopg4{
                grid-column-start: 1;
                grid-column-end:1; 
                text-align: center;
                margin-left: 0%;
            }
            .bussines-comercial .imgpg4{
                grid-column-start: 1;
                grid-column-end: 1;
                width: 90%;              
            }         
            .bussines-comercial .bodypg4{
                text-align: justify;
                margin-left: 0%;
                margin-right: 0%;
            }     
            .bussines-comercial .bodypg4 h3{
                margin-bottom: -1%;
            }
            .bussines-comercial .bodypg4 p{
                margin-bottom: 8%;
            }
        
        .bussines-comercial .pagina6{
            display: grid;
        }
            .bussines-comercial .titulopg6{
                grid-column-start: 1;
                grid-column-end:1; 
                text-align: center;
                margin-left: 0%;
            }
        
            .bussines-comercial .bodypg6{
                grid-column-start: 1;
                grid-column-end:1; 
                text-align: justify;
                margin-left: 0%;
                margin-right: 0%;
            }
        
            .bussines-comercial .pagina6 h4{
                margin-bottom: 2%;
            }
            .bussines-comercial .pagina6 p{
                margin-bottom: 2%;
            }

            .bussines-comercial .pagina7{
                display: grid;
                grid-template-columns: auto auto auto;
                margin-bottom: 3%;

            }
            .bussines-comercial>.pagina7>div>img{width: 80%;}
            
            .bussines-comercial .pagina7 .uno {
                grid-column: 1/3;
                grid-row: 1;
                padding-left: 16%;
                padding-top: 12%;
                width: 140%;
            }
        
            .bussines-comercial .pagina7 .dos{
                grid-column: 1/6;
                grid-row: 2;  
                padding-left: 11%;
            }
        
            .bussines-comercial .pagina7 .tres{ 
                grid-column: 1/4;
                grid-row: 4;
                padding-left: 16%;
                width: 75%;
            }
        
            .bussines-comercial .pagina7 .cuatro{
                grid-column: 1/3;
                grid-row: 5/7; 
                padding-left: 4%;
            }
        
            .bussines-comercial .pagina7 .cinco{
                grid-column: 4/6;
                grid-row: 3/5
            }
        
            .bussines-comercial .pagina7 .seis{
                grid-column: 1/4;
                grid-row: 3;
                padding-left: 10%;
                width: 86%;
                padding-top: 6%;
            }
            .bussines-comercial .pagina7 .siete{
                grid-column: 4/6;
                grid-row: 1;
                width: 125%;
              
            }
            .bussines-comercial .pagina7 .ocho{
                grid-column: 3/6;
                grid-row: 6;
                width: 120%;
            }
            .bussines-comercial .pagina7 .nueve{
                grid-column: 3/6;
                grid-row: 15;
                padding-top: 4%;
            }
            .bussines-comercial .pagina7 .diez{ 
                grid-column: 3/6;
                grid-row: 5; 
                width: 120%;               
            }
            .bussines-comercial .pagina7 .once{
                grid-column: 1/6;
                grid-row: 11;
                padding-top:2%;
            }
            .bussines-comercial .pagina7 .doce{
                grid-column: 4/6;
                grid-row: 7;
                width: 110%;
            }
            .bussines-comercial .pagina7 .trece{
                grid-column: 1/3;
                grid-row: 15;
            
            }
            .bussines-comercial .pagina7 .catorce{
                grid-column: 1/3;
                grid-row: 13;
                padding-top: 2%;
            }
            .bussines-comercial .pagina7 .quince{
                grid-column: 3/6;
                grid-row: 13;
               width: 120%;
            }
            .bussines-comercial .pagina7 .dieciseis{
                grid-column: 1/4;
                grid-row: 7;
                padding-top:5%;
                width: 120%;
            }
            .bussines-comercial .pagina7 .textpg7{
                grid-column:3/6 ;
                grid-row: 16;
                font-size: 40%; 
                background-color:#F1C40F;
                text-align: center;
                color: aliceblue;   
                border-radius: 20px;
            }
    }

@media screen and (max-width:780px){
    .bussines-comercial{ margin: 0 auto;
}