*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
}
/*----------------PAG.1 CONTENIDO*/
.business-comercial{
    display: grid;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap:40px;
}
.business-comercial #nosotros_session{
    grid-column: 1;
    grid-row: 1;
}
.business-comercial #nosotros #img_cont{
    grid-column: 2;
    grid-row: 1;
}

.business-comercial #nosotros_session h1{
    margin-left: 4%;
    margin-top: 15%;
    padding-bottom: 5%;
}
.business-comercial #nosotros_session p{
    margin-top: 10%;
    margin-right: 2%;
    margin-left: 4%;
}
/*----------------PAG.3 CONTENIDO*/
.business-comercial #servicios_img{
    width: 100%;
    height: 80%;
    vertical-align: bottom;
}
.business-comercial #servicios_titulo{
    grid-column: 1;
    grid-row: 2;
} 
.business-comercial #servicios_titulo h1{
    font-size: 2.0em;
    margin-top: 8%;
    margin-bottom: 1%;
    width: 98%;
    text-align: center;
}
.business-comercial #servicios_cont{
    grid-column: 2;
    grid-row: 2;
    padding-top: 30%;
}
.business-comercial #servicios_cont h5{
    margin-bottom: 1%;
    margin-top: 5%;
    margin-left: 3%;
    font-size: 1.2em;
}
.business-comercial #servicios_cont p{
    margin-left: 3%;
}
/*----------------PAG.5 CONTENIDO*/

.business-comercial #inscripciones_cont{
    grid-column:1/3;
    grid-row: 3;
    padding-bottom: 7%;
}
.business-comercial #inscripciones_cont h1{
    margin-top: 5%;
    margin-left: 7%;
}
.business-comercial>#inscripciones_cont>p{
    margin-left: 8%;
    margin-top: 1%;
    width: 85%;
}
.business-comercial>#inscripciones_cont>#primaria>p{
    margin-top: 2%;
    margin-left: 12%;
    width: 67%;
    font-size: 0.9em;
}
#inscripciones_cont h3{
    margin-top: 6%;
    margin-left: 7%;
}


/*------------MEDIA------------*/
@media screen and (max-width:720px){
    .business-comercial{
        max-width: 400px;
    }
    /*PAGINA 1---------*/
    .business-comercial #nosotros_session{
        grid-column: 1/3;
        grid-row: 1;
        padding-bottom: 10%;
    }
    .business-comercial #nosotros #img_cont{
        grid-column: 1/3;
        grid-row: 2;
    }
    .business-comercial #nosotros_session h1{
        margin-left: 12%;
    }
    .imgprimaria1{
        width: 180%;
        margin-left: 10%;
    }

    /*PAGINA 3*/
    .business-comercial #servicios_titulo{
        grid-column: 1/3;
        grid-row: 3;
    } 
    .business-comercial #servicios_cont{
        grid-column: 1/3;
        grid-row: 4;
        padding-top: 0;
    }
    .business-comercial #servicios_cont p{
        margin-left: 3%;
        margin-right: 3%;
        text-align: justify;
    }
    .business-comercial #servicios_cont h5{
        margin-bottom: 2%;
    }
    .servicios_img{
        width: 90%;
        margin-left: 5%;
    }
    /*PAGINA 5*/
    .business-comercial #inscripciones_cont{
        grid-column:1/3;
        grid-row: 5;
    }
}